<settings>
	<me_search_limit>10</me_search_limit>
	<holdvalues>
		<entry>
			<display>1 Day</display>
			<value>86400</value>
		</entry>
		<entry>
			<display>1 Week</display>
			<value>604800</value>
		</entry>
		<entry>
			<display>4 Weeks</display>
			<value>2419200</value>
		</entry>
	</holdvalues>
</settings>