<?php

/* The title of the site that appears in the browser tab or window bar */
$_WSSM_SITE_TITLE = "Custom Survey Title";

/* The main image logo that appears in the top left corner of site */
$_WSSM_HEADER_LOGO = "customisation/img/YourCustomLogo.png";

?>